<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule platformId="wdpDr" name="default redirect" stopProcessing="true">
                    <match url="^(?:(?:index|default)\.(?:html?|aspx?|php))?$" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
